.container {
    display: flex;
    align-items: center;
    max-width: 480px;
    width: 200px;
    height: 55px;
    box-shadow: 0px 2px 6px var(--box-shadow);
    border-radius: 10px;
    border: none;
    padding:0 20px;
    background-color: white;

    select{
        width: 100%;
        border:none;
        outline: none;
        background-color: white;
        cursor: pointer;
        
    }

}
@media(max-width:40em) {
    .container{
      width: 100%;
      max-width: none;
      margin-top: 20px;
    }
  }