.container {
  padding: 80px 80px;
  section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .details {
      margin-left: 180px;
    }
    img {
      width: 100%;
      max-width: 560px;
      height: 400px;
    }
    .country-details {
      display: flex;
    }
    .country-details_two {
      margin-left: 50px;
    }
  }
  .border-countries {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    p {
      background-color: rgb(59, 59, 59);
      width: 100%;
      max-width: 200px;
      color: white;
      padding: 10px;
      border-radius: 10px;
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        background-color: rgb(99, 99, 99);
      }
    }
  }
}

@media (max-width: 40em) {
  .container {
    section {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .details {
        margin-left: 0;
      }
      img{
        height: auto;
      }
    }
  }
}
