* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var()
}

:root{
  --background:white;
  --text-primary:rgb(20, 20, 20);
  --box-shadow:rgba(0, 0, 0, 0.1);
  --card-background:rgba(243, 243, 243, 0.822);
}

[data-theme="dark"]{
  --card-background:rgb(37, 37, 37);
  --background:rgb(26, 26, 26);
  --text-primary:white;
  --box-shadow:rgba(255, 255, 255, 0.082);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
